.card {
    padding: 16px;
}

.device-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 16px;
}

.device-header-text {
    flex-basis: 100%;
}


.loading {
    opacity: 0.3;
}

.device-listing {
    position: relative;
    flex-grow: 2;
    margin-top: 32px;

}

.connection-info {
    display: flex;
    flex-direction: row;
}

.connection-title {
    padding: 0 16px;
}

.qrcode-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

.fa-qrcode {
    width: 230px;
    height: 230px;
}

.trace-button {
    float: right;
    margin-right: 20px;
}