
.card {
    padding: 16px;
}

.device-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 16px;
}

.device-header-text {
    flex-basis: 100%;
}


.loading {
    opacity: 0.3;
}

.device-listing {
    position: relative;
    flex-grow: 2;
    margin-top: 32px;

}
.map-view {
    position: relative;
    flex-grow: 2;
    margin-top: 200px;
}
.connection-info {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.connection-title {
    padding: 0 16px;
    text-align: center;
}

.qrcode-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.fa-qrcode {
    width: 230px;
    height: 230px;
}

.trace-button {
    float: right;
    margin-right: 20px;
}

#trace-card {
    padding: 16px 16px;
}


.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}

.fade.fade-in {
    opacity: 1;
}

.trace-table {
    width: 100%;
}

#loading-trace {
    width: 98%;
    position: absolute;
}

#loading-text {
    margin-top: 16px;
}

.not-visible {
    display: none;
}

#map {
    width: 500px;
    height: 400px;
    background-color: #CCC;
    margin-right: auto;
    margin-left: auto;
  }

#map-results {
    height: 600px;
}
