.card {
    padding: 16px;
}

.device-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 16px;
}
.device-header-text {
    flex-basis: 100%;
}

.loading {
    opacity: 0.3;
}
.device-listing {
    position: relative;
}