{% load staticfiles %}


<div class="device-header mdl-color--amber-600">
    <h4 class="device-header-text">My Device</h4>
</div>
<ul class="mdl-list">
    <li class="mdl-list__item">
        <div class="mdl-list__item-primary-content device-list-item">
            <i class="material-icons  mdl-list__item-icon">devices</i>
            <div>{{ current_device.ip }}</div>
            <input type="hidden" name="myDeviceIp" value="{{ current_device.ip }}">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label device-list-name">
                <input class="mdl-textfield__input" name="deviceName" type="text" id="deviceName" value="{{ current_device.name }}">
                <label class="mdl-textfield__label" for="deviceName">Device name</label>
            </div>
        </div>
    </li>
</ul>

<div class="device-header mdl-color--amber-600">
    <h4 class="device-header-text">Connected Devices</h4>
    <button type="button" class="mdl-button mdl-js-button mdl-button--icon delete">
        <i class="material-icons">delete</i>
    </button>
    <button type="button" class="mdl-button mdl-js-button mdl-button--icon refresh">
        <i class="material-icons">refresh</i>
    </button>
</div>
<ul class="mdl-list target-device-list">
    {% for device in devices %}
        <li class="mdl-list__item">
            <div class="mdl-list__item-primary-content device-list-item">
                <i class="material-icons  mdl-list__item-icon">devices</i>
                <div class="device-listing-text">{{ device.ip }}</div>
                <div class="device-listing-text device-list-name">{{ device.name }}</div>
            </div>
        <span class="mdl-list__item-secondary-action">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-{{ forloop.counter }}">
              <input type="checkbox" name="devices" id="list-checkbox-{{ forloop.counter }}" class="mdl-checkbox__input"
                     value="{{ device.id }}"/>
          </label>
        </span>
        </li>
    {% endfor %}
</ul>