{% extends 'base.html' %}
{% load qr_tags staticfiles %}
{% include "networking/trace_history.html" %}
{% block content %}

    <div class="mdl-card mdl-cell mdl-cell--12-col-phone mdl-cell--3-col-tablet mdl-cell--4-col-desktop mdl-shadow--2dp card">
        <div class="mdl-layout-title connection-title">Session Information</div>
        <div class="connection-info">
            <div class="qrcode-container">
                <div class="fa-qrcode">
                    {% qr_from_text connect_url %}
                </div>
                <input type="text" value="{{ connect_url }}" readonly>
            </div>
        </div>
    </div>
    <div class="mdl-card mdl-cell mdl-cell--12-col-phone mdl-cell--5-col-tablet mdl-cell--8-col-desktop mdl-shadow--2dp card">

        <div class="device-listing">
            <form id="trace-form">
                {% csrf_token %}
                <div id="devices">

                </div>
                <button class="mdl-button mdl-button-js mdl-color--green-400 mdl-button--raised trace-button">
                    <i class="material-icons">device_hub</i>
                    Trace
                </button>
                <input type="hidden" name="session" value="{{ session_key }}">

            </form>
        </div>

    </div>


    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#trace-info-panel" class="mdl-tabs__tab is-active">Trace Info</a>
      <a href="#map-panel" class="mdl-tabs__tab">Map</a>
      <a href="#history-panel" class="mdl-tabs__tab" id="history-btn">History</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="trace-info-panel">
    <div class="mdl-card mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop
            mdl-shadow--2dp card fade" id="trace-card">
        <div id="loading-trace" class="mdl-progress mdl-js-progress mdl-progress__indeterminate fade">
            <h4 id="loading-text">Performing trace <span style="font-size: 12px;">(this may take a few moments)</span>
            </h4>
        </div>
        <div id="trace-results" class="fade">
        </div>
    </div>
  </div>
  <div class="mdl-tabs__panel" id="map-panel">
    <div class="mdl-card mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop
            mdl-shadow--2dp card fade" id="map-card">
        <div id="map-results">
        </div>
    </div>
  </div>
  <div class="mdl-tabs__panel" id="history-panel">
    <div id = "trace-history">
        <div id = "target-area">

        </div>
    </div>
  </div>
</div>



{% endblock %}

{% block scripts %}
    <script src="{% static 'js/devices.js' %}"></script>
    <script>
        var device_listing_div = $('#devices');
        var trace_history_div = $('#trace-history');
        var device_url = "{% url 'device_listing' %}";
        var history_url = "{% url 'trace_history' %}";
        var delete_url = "{% url 'device_delete' %}";
        var material_js_url = "{% static 'js/material.min.js' %}";
        var trace_card = $("#trace-card");
        var resultsDiv = $("#trace-results");
        var trace_loader = $("#loading-trace");
        var traceForm = $('form');
        var traceUrl = '{% url "trace" %}';
        var map_card = $("#map-card");
        var map;
        var directionsDisplay;
        var directionsService;


        submit_form(device_url, traceForm.serializeArray())
            .done(function (data) {
                updateDeviceListing(data);
            });



        device_listing_div.on('click', '.refresh', function (event) {
            submit_form(device_url, $('form').serializeArray())
                    .done(function (data) {
                        updateDeviceListing(data);
                    });
        });

        device_listing_div.on('click', '.delete', function (event) {
            submit_form(delete_url, $('form').serializeArray());
        });

        setInterval(function () {
            if (!$('#deviceName').is(':focus')) {
                submit_form(device_url, $('form').serializeArray())
                    .done(function (data) {
                        updateDeviceListing(data);
                    });
            }
        }, 5000);

        $('#history-btn').click(function (event){
            //history_card.addClass('fade-in');
            submit_form(history_url, $('form').serializeArray())
                    .done(function (data) {
                        showTraceHistory(data);
                    });

        });

        $('.trace-button').click(function (event) {

            var formData = traceForm.serializeArray();

            resultsDiv.removeClass('fade-in');
            trace_card.addClass('fade-in');
            trace_loader.addClass('fade-in');

            submit_form(traceUrl, formData).done(function (data, textStatus, jqXHR) {
                resultsDiv.html(data);
                var source_ip = $('input[name="myDeviceIp"]').val();
                var routes = tracedata.list;

                $.each(routes, function (route_index, route) {
                    var markers = [];
                    var locations = [];
                    var lastValidLocation;
                    var request = {
                        path: locations,
                        geodesic: true,
                        strokeColor: "#FF0000",
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    };
                    var previous_city = undefined;
                    $.each(route.results, function (hop_index, hop) {
                        var current_city = hop.city;
                        if (hop.response && hop.latitude) {
                            var lat = hop.latitude;
                            var long = hop.longitude;
                            var location = {
                                lat: lat,
                                lng: long
                            };
                            locations.push(location);
                            if (previous_city !== current_city){
                                markers.push(location);
                                previous_city = current_city;
                                new google.maps.Marker({
                                    position: location,
                                    label: '' + markers.length,
                                    map: map
                                })
                            }
                            lastValidLocation = location;
                        }
                    });

                    if (lastValidLocation){
                        request.destination = lastValidLocation;
                    }
                    var serverPath = new google.maps.Polyline(request);
                    serverPath.setMap(map);
                });
                trace_loader.removeClass('fade-in');
                resultsDiv.addClass('fade-in');
                map_card.addClass('fade-in');
            });
            event.preventDefault();
        });

        function initMap() {
            directionsService = new google.maps.DirectionsService;
            directionsDisplay = new google.maps.DirectionsRenderer;
            var opt = {
                minZoom: 3,
                maxZoom: 14,
                center: new google.maps.LatLng(54.5260, -105.2551),
                zoom: 4
            };
            var mapDiv = document.getElementById('map-results');
            map = new google.maps.Map(mapDiv, opt);
            directionsDisplay.setMap(map);
        }

        function updateDeviceListing(data) {
            data = $(data);
            var form_fields = traceForm.serializeArray();
            $.each(form_fields, function (index, field) {
                if (field.name == "devices") {
                    data.find('input[name="devices"][value="' + field.value + '"]').attr('checked', true);
                }
            });
            $("#devices").html(data);
            // Reapply the MDL stylings that were lost after the ajax call.
            componentHandler.upgradeDom();
        }

        function showTraceHistory(data){
            $("#target-area").html(data);
            componentHandler.upgradeDom();
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
{% endblock scripts %}