{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Analyze Path to Device</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/material.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">DeviTrace</span>
            <!-- Add spacer, to align navigation to the right -->
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content mdl-grid">
            {% block content %}
            {% endblock content %}

            {% block styles %}
            {% endblock styles %}
        </div>
    </main>
</div>
<script src="{% static 'js/material.min.js' %}"></script>
<script src="{% static 'js/jquery-2.2.2.min.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>